__pycache__/
.vscode/
log/
*.spec
*.pyc
build/
dist/
*.pkg
tool/hrs/sym/
rep/
esp/
temp/
temp.html
idx/
*.log
drifts/
*.autosave
url
ext/
venv/
.env
conf/db.conf
conf/dbtest.conf
tmp.html
demo/
nohup.out
startapp.sh
nohup*
baidu*
README.pdf